ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #111;
    text-decoration: none;
}

.bigTitle {
    color: white;
    padding-left: 1%;
    margin-top: 1%;
}

.back {
    background-color: #333;
}
